numpy
pandas
scipy

scikit-learn
xgboost
lightgbm
catboost
joblib
imbalanced-learn
optuna
shap

yfinance
ta

matplotlib
mplfinance
plotly

pyTelegramBotAPI

requests
urllib3

schedule

python-dotenv

tqdm

python-dateutil

numba
psutil

statsmodels
